.chart {
  display: flex;
  padding: 0;
}

.demo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.pie {
  margin: 1rem;
}

@keyframes donut-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes text-slideup {
  from {
    opacity: 0;
    transform: translateY(0%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

.donut {
  // width: 12.5rem;
  width: 100%;
  height: 300px;
  position: relative;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #18222f;
}

.donut__frame,
.donut__circle {
  stroke-width: 0.125rem;
  fill: none;
}

.donut__frame {
  stroke: #ccc;
}

.donut__circle {
  stroke: url(#gradient-2);
  stroke-linecap: round;
}

.donut__canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 2;

  height: 200px;
}

.donut__circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: donut-fill 2s reverse;
}

.donut__circle[stroke-dasharray="0 100"] {
  stroke: none;
}

.donut__content {
  animation: text-slideup 2s linear;
  font-family: monospace;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);

  .donut__text,
  .donut__name {
    letter-spacing: -0.15rem;
    text-align: center;

    z-index: 3;
    color: #fff;
  }
  .donut__text {
    font-size: 3rem;
  }
  .donut__name {
    font-size: 18px;
  }
}

.donut.is--negative .donut__circle {
  transform: rotate(-90deg) scaleY(-1);
}

.donut-complex text {
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 0 0 0.5rem #fff;
  opacity: 0;
  transition: opacity 0.35s ease-in-out 1s;
}

.donut-complex circle {
  fill: none;
  transition: stroke-dashoffset 1s ease-in-out;
}

.donut-complex:not(.donut-complex--loaded) circle {
  stroke-dashoffset: 0;
}

.donut-complex--loaded text {
  opacity: 1;
}
