.slider-container {
  position: relative;
  justify-content: center;
  align-items: center;
  .slider-button {
    float: left;
    margin: 20px;
    width: 50px;
    height: 50px;
    background: #1976d2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 50px);
    cursor: pointer;
    z-index: 1;
    &.slider-button__prev {
      left: -46px;
    }
    &.slider-button__next {
      right: -46px;
    }
  }
}
.slide {
  .image {
    width: 100% !important;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
  }
}
.rightArrow {
  border-style: solid;
  border-color: #fff;
  border-width: 0 4px 4px 0;
  margin-left: -6px;
  padding: 5px;
  transform: rotate(-45deg);
}
.leftArrow {
  border-style: solid;
  border-color: #fff;
  border-width: 0 4px 4px 0;
  margin-right: -6px;
  padding: 5px;
  transform: rotate(135deg);
}
.slide__item {
  opacity: 0;
  transition-duration: 1s ease;
  &.is-active {
    opacity: 1;
    transition-duration: 1s;
  }
}
