html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .App {
  font-family: sans-serif;
  text-align: center;
} */

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 0 -15px;
}

.col-md-4 {
  margin-bottom: 30px;
  width: 100%;
}

@media (min-width: 992px) {
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.card {
  padding: 30px;
  border: solid 1px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
}

.card-title {
  margin-top: 20px;
}

.card-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.card-text .fa {
  font-size: 26px;
}

.avatar {
  width: 140px;
  margin: auto;
}

.avatar img {
  border: solid 6px transparent;
  border-radius: 50%;
}

.card:hover .avatar img {
  border-color: #1976d2;
}

.btn {
  border-radius: 25px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}